/* Remember to download Noto Sans and Montserrat fonts from Google Fonts: https://fonts.google.com/ */

:root {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.extra-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}


/* GENERICI */

a {
    cursor: pointer;
}

h1 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 1000;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 95%;
    text-rendering: geometricPrecision;
    letter-spacing: -2px;
    max-width: 700px;
    text-align: center;
}

h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    color: #23272a;
    padding-bottom: 15px;
    z-index: 1;
}

h5{
    padding-bottom: 20px;
    color: #5865f2;
    font-size: 14px;
    line-height: 24px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}

p {
    font-family: "Noto Sans", sans-serif;
    font-size: clamp(15px, 2vw, 20px);
    font-weight: 400;
    line-height: 1.625;
    color: #23272a;
}


/* HEADER */

header {
    background-color: #404EED;
    color: white;
    height: 85vh; /*Da modificare*/
}

nav {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

.menu {
    font-weight: 600;
    font-family: inherit;
    font-size: 15px;
    text-align: center;
    padding-right: 32px;
}

.menu a {
    text-decoration: none;
    color: white; 
    padding: 0 20px;
}

.menu a:hover {
    text-decoration: underline;
}

#jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#jumbotron>p {
    max-width: 800px;
    text-align: center;
    line-height: 1.805;
}


/* BUTTON */

button {
    cursor: pointer;
    background-color: white;
    font-size: 14px;
    border: none;
    font-family: "Noto Sans", sans-serif;
}

button:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

.small {
    border-radius: 40px;
    padding: 10px 16px;
    color: black;
}

.small:hover {
    color: #5865f2;
}

.big {
    display: inline-flex;
    gap: 20px;
}

.big button:first-child:hover {
    color: #5865f2;
}

.btn>button {
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    display: inline-flex;
}

.icon {
    padding-right: 8px;
}

.big button:last-child {
    background-color: #23272a;
    color: white;
}

.big button:last-child:hover {
    background-color: hsl(223, calc(var(--saturation-factor, 1)*6.7%), 20.6%);
}

.blue button:last-child{
    background-color: #5865f2;
}

.blue button:last-child:hover{
    background-color: hsl(235,calc(var(--saturation-factor, 1)*86.1%),71.8%);
}

.b{
    filter: invert();
}


/* SECTION */

.history-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 110px 170px;
    gap: 6rem;
    background-color: #F6F6F6;
}

.history-info img {
    max-width: 678px;
    max-height: 440px;
}

.info-full img {
    width: 100%;
}

.history-info:nth-child(odd) {
    flex-direction: row-reverse;
    background-color: white;
}

.history-info div>h2 {
    font-family: "Noto Sans", sans-serif;
    line-height: 120%;
    font-weight: 900;
    color: #23272a;
    font-size: clamp(20px, 4vw, 40px);
    padding-bottom: 35px;
    max-width: 400px;
}

.info-full {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F6F6F6;
    padding: 100px;
}

.info-full div>h2 {
    font-family: "Noto Sans", sans-serif;
    font-weight: 1000;
    font-size: clamp(50px, 4vw, 40px);
    text-transform: uppercase;
    line-height: 92%;
    text-rendering: geometricPrecision;
    letter-spacing: -2px;
    text-align: center;
    color: #23272a;
    padding-bottom: 30px;
}

.cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 59px;
    gap: 2rem;
    background:  #F6F6F6 url(./img/stars.svg);
    background-repeat: no-repeat;
    background-position: center top 30px;
    width: 100%;
}


/* FOOTER */
footer{
    height: 600px;
    background-color: #23272a;
    display: flex;
    justify-content: center;
    align-items: center;
}

select{
    z-index: 2;
    border: none;
    background-color: transparent;
    color: white;
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    min-width: 80px;
    outline: none;
    cursor: pointer;
  }
  
.flag{
    width: 24px;
    height: 16px;
}

.lang{
    display: flex;
    align-items: center;
}

div.lang{
    padding-left: 15px;
}

.info-box{
    padding: 50px;
    width: 400px;
}

.social{
    padding-top: 50px;
    gap: 1rem;
}

.social a{
    padding-left: 20px;
}

.footer-menu{
    display: flex;
    gap: 4rem;
    padding: 50px;
}

.footer-menu a{
    display: flex;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.footer-box{
    display: flex;
    gap: 4rem;
}